h1,h2 {color: blue;
    text-align:center;
    background-color: teal;
    height: 50px;
    width: 200px;
    margin: 20px;
    padding: 20px;
}

/*if you dont put a comma then you apply the styling to descendents of the list as well.
or if there are like child items and then grandchild items in the list
and you want only child items to be styled then you put ol>li  that means it select ony immediate children*/

#middle {
    font-family: Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
}

.name {
    color: red;
}

input[type=text] {
    background-color: yellow;
}
input[type=number] {
    background-color: red;
}

button {
    width: 200px;
    height: 50px;
    font-size: 24px;
    background-color: orange;
}

button:hover {
    background-color: green;
    font-size: 35px;
}

a::before { /*apply styling before the content of the link */
    content: "\21d2  Click here: " ;    /*21d2 is a unicode symbol */
    font-weight: bold;
}

p::selection {
    color: red;
    background-color: yellow;
}